---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import * as markdown from "../../content/joinus.md"
const title = "Interested in Joining our Consortium?";
---

<PageLayout>
  <PageMeta title={`Join Us | ${SITE_TITLE}`} slot="meta" />
  <section>
    <p class="text-xl pb-4">{title}</p>
    <Fragment set:html={markdown.compiledContent()} />
  </section>
</PageLayout>