---
const title = "Critical Care Education & Research Consortium (CCERC)"
const subtitle = "subtitle"
const introduction = `
Welcome to the Critical Care Education & Research Consortium (CCERC) website. 
CCERC is a dedicated network of physicians from various academic institutions across the United States 
who convene regularly to collaborate on projects in the domain of critical care medicine. 
Our consortium is committed to advancing the field through education and research. 
This platform serves showcases our mission statement, objectives, ongoing projects, and notable achievements. 
We invite you to explore our work and we appreciate your feedback.
`
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-3xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        {title}
      </span>
    </h1>
    <!-- <p class="text-xl pb-4">{subtitle}</p> -->
  </div>
  <div>
    <p class="mb-5">{introduction}</p>
  </div>
</section>
