---
const title = "Participating Institutions"
const subtitle = ""


---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-3xl md:text-4xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        {title}
      </span>
    </h1>
    <p class="text-xl pb-4">{subtitle}</p>
  </div>

  <iframe src="./map.html" width="100%" height="400" title="Embedded Page"></iframe>
</section>
